{{!
// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

/**
 * @package     block_cosy_ct
 * @copyright      2023  J. Cornejo-Lupa
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */ }}


<style>
    .category-concept { grid-area:category-concept; }
    .approach-concept { grid-area:approach-concept; }
    .media-concept { grid-area:media-concept; }
    .type-concept { grid-area:type-concept; }
    .blank-space { grid-area:blank-space; }
    .save-button { grid-area:save-button; }
    .cancel-button { grid-area:cancel-button; }
    .add-button { grid-area: add-button; }
    .table-comp { grid-area: table-comp; }
    .title-comp { grid-area: title-comp; }
    .grid-particular-concepts {
        display: grid;
        grid-template-areas:
            'category-concept category-concept approach-concept approach-concept media-concept media-concept'
            'type-concept type-concept approach-concept approach-concept media-concept media-concept';
        gap: 10px;
        padding: 10px;
    }
    .grid-footer-buttons {
        display: grid;
        grid-template-areas:
            'blank-space blank-space blank-space blank-space save-button cancel-button';
        gap: 10px;
        padding: 10px;
    }
    .grid-competencies {
        display: grid;
        grid-template-areas:
            'title-comp title-comp title-comp title-comp add-button add-button'
            'table-comp table-comp table-comp table-comp table-comp table-comp';
    }
</style>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<h3> {{#str}} generalconceptsrecobj, block_cosy_ct {{/str}} </h3>
<div class="grid-general-concepts">
    <div class="description">
        {{{desc_form}}}
    </div>
</div>
<h3> {{#str}} particularconceptsrecobj, block_cosy_ct {{/str}} </h3>
<div class="grid-particular-concepts">
    <div class="category-concept">
        {{{category_form}}}
    </div>
    <div class="approach-concept">
        {{{approach_form}}}
    </div>
    <div class="media-concept">
        <p>
            {{#str}} mediasrecobjlabel, block_cosy_ct {{/str}}
        </p>
        {{#media_options}}
            <input type="checkbox" name="type" value={{id}} {{#checked}} checked {{/checked}} />
            <label>{{display_name}}</label>
            <br />
        {{/media_options}}
    </div>
    <div class="type-concept">
        {{{type_form}}}
    </div>
</div>

<div class="grid-competencies">
    <div class="title-comp">
        <h3> {{#str}} competenciestabletitle, block_cosy_ct {{/str}} </h3>
    </div>
    <div class="add-button">
        <button class="btn btn-success" id="iut_anchor_add_competence">
        {{#pix}}
            t/add, core, Add Competence to this anchor
        {{/pix}}
        </button>
    </div>
    <div class="table-comp">
        <table id="comp_table">
            <thead>
                <th> {{#str}} tablerowshortname, block_cosy_ct {{/str}} </th>
                <th> {{#str}} tablerowweight, block_cosy_ct {{/str}} </th>
                <th> {{#str}} compactions, block_cosy_ct {{/str}} </th>
            </thead>
            {{#competencies}}
                <tr>
                    <td>{{shortname}}</td>
                    <td>{{weight}}</td>
                    <td>
                        <button class="btn btn-warning" id="iut_change_weight_competency_association_{{id}}">
                            {{#pix}}
                                t/move, core, Minus competency weight
                            {{/pix}}
                        </button>
                        <button class="btn btn-danger" id="iut_remove_competency_association_{{id}}">
                            {{#pix}}
                                t/delete, core, Delete Competency Association
                            {{/pix}}
                        </button>
                        <script type="text/javascript">
                            document.getElementById("iut_change_weight_competency_association_{{id}}").onclick = function () {
                                location.href = "/moodle/blocks/cosy_ct/comp_ass_custom_weight.php?id={{cmid}}&courseid={{courseid}}&blockid={{blockid}}&anchorid={{anchorid}}&recobjid={{recobjid}}&compid={{id}}";
                            };
                        </script>
                        <script type="text/javascript">
                            document.getElementById("iut_remove_competency_association_{{id}}").onclick = function () {
                                location.href = "/moodle/blocks/cosy_ct/comp_ass_del.php?id={{cmid}}&courseid={{courseid}}&blockid={{blockid}}&anchorid={{anchorid}}&recobjid={{recobjid}}&compid={{id}}";
                            };
                        </script>
                    </td>
                </tr>
            {{/competencies}}
        </table>
    </div>
</div>

<div class="grid-footer-buttons">
    <div class="blank-space">
        <p style="visibility:hidden;">Hello there</p>
    </div>
    <div class="save-button">
        <button class="btn btn-primary" id="id_submitbutton_edit_rec_obj">
            {{#str}} validatedata, block_cosy_ct {{/str}}
        </button>
    </div>
    <div class="cancel-button">
        <button class="btn btn-secondary" id="id_cancelbutton_create_rec_obj">
            {{#str}} canceldata, block_cosy_ct {{/str}}
        </button>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#comp_table').DataTable({
          select: true
        });
    });
</script>
<script type="text/javascript">
    document.getElementById("id_cancelbutton_create_rec_obj").onclick = function () {
        location.href = "/moodle/blocks/cosy_ct/anchor_visor.php?id={{cmid}}&courseid={{courseid}}&blockid={{blockid}}&anchorid={{anchorid}}";
    };
</script>
<script type="text/javascript">
    document.getElementById("iut_anchor_add_competence").onclick = function () {
        location.href = "/moodle/blocks/cosy_ct/competencies_visor.php?id={{cmid}}&courseid={{courseid}}&blockid={{blockid}}&anchorid={{anchorid}}&recobjid={{recobjid}}";
    }
</script>